{% extends 'body.html' %}

{% block content %}

    <section>
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-md-6 mb-md-0 mb-4">
                    <h3 class="mb-2">Acerca de Nosotros</h3>
                    <p class="mb-4">
                        Somos una empresa especializada en el suministro de soluciones tecnológicas para la excelencia
                        operacional del sector industrial y de servicios.
                    </p>
                    <br>
                    <h3 class="mb-4">Nuestros Valores</h3>
                    <h5 class="text-info">Confianza</h5>
                    <p class="mb-4">
                        Las relaciones con nuestros clientes, colaboradores y proveedores, están fundamentadas en la
                        transparencia, honestidad e integridad, los cuales se expresan en la calidad y oportunidad de
                        nuestros productos y servicios.
                    </p>
                    <h5 class="text-info">Innovación</h5>
                    <p class="mb-4">
                        Nuestros productos y servicios están alineados con el uso de tecnologías de vanguardia, e
                        integradas con la industria 4.0 e internet de las cosas.
                    </p>
                    <h5 class="text-info">Excelencia</h5>
                    <p class="mb-4">
                        Todas nuestras acciones van encaminadas hacia la generación de productos y servicios con el
                        máximo de calidad y que impacten en el cumplimiento normativo, la optimización y mejora de los
                        procesos de nuestros clientes.
                    </p>
                    <h5 class="text-info">Lealtad</h5>
                    <p class="mb-4">
                        En nuestro equipo de trabajo fomentamos la importancia de la dedicación, sentido de pertenencia
                        y fidelidad hacia la organización y su crecimiento.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="card p-0 rounded-3">
                        <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/project12.jpg') }}"
                             alt="img-blur-shadow" class="img-fluid shadow rounded-3">
                    </div>
                </div>
            </div>
            <br>
            <div class="row align-items-center">
                <div class="col-md-9 mb-md-0 mb-4">
                    <h3 class="mb-2">Misión</h3>
                    <p class="mb-4">
                        Proveer a nuestros clientes soluciones con alta innovación tecnológica, adaptadas a las
                        necesidades y cumplimiento normativo de nuestros clientes; con el objetivo de incrementar su
                        competitividad y productividad.
                    </p>
            </div>
        </div>
            <br>
            <div class="row align-items-center">
                <div class="col-md-9 mb-md-0 mb-4">
                    <h3 class="mb-2">Visión</h3>
                    <p class="mb-4">
                        Para el 2023 ser identificados en el sector industrial y de servicios como una empresa proveedora
                        de soluciones tecnológicas con alto nivel de calidad e innovación.
                    </p>
            </div>
        </div>
    </section>

{% endblock %}