{% extends 'body.html' %}

{% block content %}

    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-6">
        <div class="container">
            <div class="row align-items-center">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/logo_bpmpro.png') }}"
                             alt="bpmpro"
                             width="275"
                             style="margin-bottom: 50px"
                             class="img-fluid border-radius-lg border-radius-bottom-start-0 border-radius-bottom-end-0">
                        <h5>Software para Gestión Documental y Calidad</h5>
                        <p style="margin-bottom: 40px; text-align: justify">
                            Implemente electrónicamente sistemas de gestión de calidad como BPM (Buenas Prácticas de
                            Manufactura)
                            e ISO9001 y elimine el uso del papel en su organización. Cuenta con los siguientes módulos:
                        </p>
                        <div class="row justify-content-start">
                            <div class="col-md-6">
                                <div class="info mb-6">
                                    <i class="ni ni-album-2 h3 text-info"></i>
                                    <h5>Gestión Documental</h5>
                                    <p>Creación, actualización y divulgación de documentos; así como control de la
                                        distribución de
                                        copias de documentos.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info mb-6">
                                    <i class="ni ni-atom h3 text-info"></i>
                                    <h5>Gestión de No Conformes</h5>
                                    <p>Registre y gestione No Conformes de procesos, auditorias, entre otros; así como
                                        acciones correctivas y preventivas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 ms-auto mt-lg-0 mt-4">
                        <div class="card shadow">
                            <div class="card-header p-0 position-relative z-index-1">
                                <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/bpmpro_1.png') }}"
                                     alt="img-blur-shadow"
                                     class="img-fluid border-radius-lg border-radius-bottom-start-0 border-radius-bottom-end-0">
                            </div>
                            <div class="card-body">
                                <h5 class="mt-1">
                                    Interface amigable e intuitiva!!!
                                </h5>
                                <p>
                                    Gestiona el sistema de calidad de tu empresa de manera fácil y rápida.
                                    Realiza consultas a un click, integrandose a las operaciones diarias de calidad y
                                    manufactura.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row justify-content-start">
                            <div class="col-md-3">
                                <div class="info">
                                    <i class="ni ni-watch-time h3 text-info"></i>
                                    <h5>PQRS y Felicitaciones</h5>
                                    <p>Recepcione las Peticiones, Quejas, Reclamos y Solicitudes de sus clientes;
                                        y gestione su tratamiento así como la respuesta a sus clientes
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info mb-6">
                                    <i class="ni ni-atom h3 text-info"></i>
                                    <h5>Capacitaciones</h5>
                                    <p>Genere sus capacitaciones virtuales en video, asígnelas a los usuarios deseados,
                                        los cuales podrán realizar registro de asistencia y posteriormente su evaluación.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <div class="info">
                                    <i class="ni ni-collection h3 text-info"></i>
                                    <h5>Indicadores de Gestión</h5>
                                    <p>Establezca los indicadores de gestión de su organización y registre
                                        periódicamente los datos; y realice seguimiento a su comportamiento
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info mb-6">
                                    <i class="ni ni-atom h3 text-info"></i>
                                    <h5>Registros y Repositorios</h5>
                                    <p>Cree sus propias carpetas de almacenamiento de registros, escanee sus
                                        formatos diligenciados y guárdelos en pdf para facilitar su consulta.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Section with four info areas left & one card right with image and waves -->

    <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
    <section class="py-sm-4 py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="margin-bottom: 30px">
                    <h3 class="mb-0 mt-2">Características Generales</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">Software web con acceso, servidor, almacenamiento de la información y
                                facturación del servicio por <b>computación en la nube</b>.
                            </p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">Acceso y <b>creación ilimitada de usuarios</b>, ingreso de los usuarios
                                desde
                                cualquier ubicación.
                            </p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="fa fa-amazon"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">Integridad de datos y backup diario en <b>Amazon Web Service (AWS)</b>;
                                integración
                                con la cuenta corporativa AWS propia del cliente.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="fa fa-file-pdf"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">Almacenamiento y consulta de documentos en formato PDF con <b>protección de
                                descarga e impresión por personal no autorizado</b>.
                            </p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0"><b>Fácil uso </b>en las áreas operativas y administrativas con pantallas
                                táctiles y
                                dispositivos móviles. Acceso desde cualquier dispositivo electrónico con internet.
                            </p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="fa fa-file-signature"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">
                                Cuenta con validación de software (VSC), cumple con <b>CFR 21 parte 11 de la FDA</b>,
                                integridad de datos, registros y firmas electrónicas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->

    <!-- -------- START Features w/ title and 3 infos -------- -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center pb-4">
                    <h2>Oferta de Servicio</h2>
                    <p class="lead">
                        Suministro de software por computación en la nube
                    </p>
                    <a href="{{ url_for('contact') }}"
                       class="btn btn-sm  bg-info  btn-round mb-0 me-1">
                        <span style="color: white">Solicitar Cotización</span>
                    </a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4 col-md-6">
                    <div class="p-3 text-center">
                        <h5 class="mt-4">Cotización</h5>
                        <p class="mb-0">
                            Implementación, migración de información, servidor, almacenamiento, backup diario y usuarios
                            ilimitados.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-3 text-center">
                        <h5 class="mt-4">Soporte Técnico</h5>
                        <p class="mb-0">
                            Soporte y solicitudes de lunes a domingo de 7am a 7pm
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-md-auto">
                    <div class="p-3 text-center">
                        <h5 class="mt-4">Actualizaciones</h5>
                        <p class="mb-0">
                            Actualizaciones periódicas y nuevos módulos alineados con BPM e ISO
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -------- END Features w/ title and 3 infos -------- -->

{% endblock %}