{% extends 'body.html' %}

{% block content %}

    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-7">
        <div class="container">
            <div class="row align-items-center">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/logo_bpmpro.png') }}"
                             alt="bpmpro"
                             width="300"
                             class="img-fluid border-radius-lg border-radius-bottom-start-0 border-radius-bottom-end-0">
                            <br>

                        <div class="row justify-content-start">
                            <div class="col-md-6">
                                <div class="info mb-6">
                                    <i class="ni ni-album-2 h3 text-info"></i>
                                    <h5>Fully integrated</h5>
                                    <p>We get insulted by others, lose trust for those We get back freezes</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info mb-6">
                                    <i class="ni ni-atom h3 text-info"></i>
                                    <h5>Payments functionality</h5>
                                    <p>We get insulted by others, lose trust for those We get back freezes</p>
                                </div>
                            </div>
                    </div>
                        <div class="row justify-content-start">
                        <div class="col-md-6">
                            <div class="info">
                                <i class="ni ni-watch-time h3 text-info"></i>
                                <h5>Prebuilt components</h5>
                                <p>We get insulted by others, lose trust for those We get back freezes</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <i class="ni ni-collection h3 text-info"></i>
                                <h5>Improved platform</h5>
                                <p>We get insulted by others, lose trust for those We get back freezes</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
                    <div class="card shadow">
                        <div class="card-header p-0 position-relative z-index-1">
                            <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/project15.jpg') }}"
                                 alt="img-blur-shadow"
                                 class="img-fluid border-radius-lg border-radius-bottom-start-0 border-radius-bottom-end-0">
                        </div>
                        <div class="card-body">
                            <a href="javascript:;">
                                <h5 class="mt-3">
                                    Get insights on Search
                                </h5>
                            </a>
                            <p>
                                Website visitors today demand a frictionless user expericence — especially when using
                                search. Because of the hight standards.
                            </p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="col-lg-6">

                </div>

            </div>
        </div>
    </section>
    <!-- END Section with four info areas left & one card right with image and waves -->

    <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
    <section class="py-sm-7 py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="mb-0 mt-2">Read More About Us</h3>
                    <h3>The most important</h3>
                    <p>Pain is what we go through as we become older. We get insulted by others, lose trust for those
                        others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
                    <a href="javascript:;" class="text-primary text-decoration-underline-hover">More about us</a>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="ni ni-chart-bar-32  opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">It becomes harder for us to give others a hand. <br> We get our heart broken
                                by people we love.</p>
                        </div>
                    </div>

                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="ni ni-cloud-upload-96 opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">As we live, our hearts turn colder. <br>Cause pain is what we go through as
                                we become older.</p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="ni ni-note-03 opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">When we lose family over time. <br> What else could rust the heart more over
                                time? Blackgold.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->

    <!-- -------- START Features w/ title and 3 infos -------- -->
    <section class="py-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center pb-4">
                    <h4 class="text-warning">Social Analytics</h4>
                    <h2>Turn your idea into a startup</h2>
                    <p class="lead">We’re constantly trying to express ourselves and actualize our dreams. If you have
                        the opportunity to play </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4 col-md-6">
                    <div class="p-3 text-center">
                        <div class="icon icon-shape bg-warning text-center">
                            <i class="ni ni-single-02 opacity-10"></i>
                        </div>
                        <h5 class="mt-4">Check our team</h5>
                        <p class="mb-0">We get insulted by others, lose trust for those others. We get back here to
                            follow my dreams</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-3 text-center">
                        <div class="icon icon-shape bg-warning text-center">
                            <i class="ni ni-email-83 opacity-10"></i>
                        </div>
                        <h5 class="mt-4">Support 24/7</h5>
                        <p class="mb-0">We get insulted by others, lose trust for those others. We get back here to
                            follow my dreams</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-md-auto">
                    <div class="p-3 text-center">
                        <div class="icon icon-shape bg-warning text-center">
                            <i class="ni ni-atom opacity-10"></i>
                        </div>
                        <h5 class="mt-4">Unlimited revisions</h5>
                        <p class="mb-0">We get insulted by others, lose trust for those others. We get back here to
                            follow my dreams</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -------- END Features w/ title and 3 infos -------- -->

{% endblock %}