{% extends 'body.html' %}

{% block content %}

    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-6">
        <div class="container">
            <div class="row align-items-center">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/logo_bpmpro.png') }}"
                             alt="bpmpro"
                             width="275"
                             style="margin-bottom: 50px"
                             class="img-fluid border-radius-lg border-radius-bottom-start-0 border-radius-bottom-end-0">
                            <h5>Software para Gestión Documental y Calidad</h5>
                        <p style="margin-bottom: 40px; text-align: justify">
                            Implemente electrónicamente sistemas de gestión de calidad como BPM (Buenas Prácticas de Manufactura)
                            e ISO9001 y elimine el uso del papel en su organización. Cuenta con los siguientes módulos:
                        </p>
                        <div class="row justify-content-start">
                            <div class="col-md-6">
                                <div class="info mb-6">
                                    <i class="ni ni-album-2 h3 text-info"></i>
                                    <h5>Gestión Documental</h5>
                                    <p>Creación, actualización y divulgación de documentos; así como control de la distribución de
                                        copias de documentos.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info mb-6">
                                    <i class="ni ni-atom h3 text-info"></i>
                                    <h5>Gestión de No Conformes</h5>
                                    <p>Registre y gestione No Conformes de procesos, auditorias, entre otros; así como
                                        acciones correctivas y preventivas.
                                    </p>
                                </div>
                            </div>
                    </div>
                        <div class="row justify-content-start">
                        <div class="col-md-6">
                            <div class="info">
                                <i class="ni ni-watch-time h3 text-info"></i>
                                <h5>PQRS y Felicitaciones</h5>
                                <p>Recepcione las Peticiones, Quejas, Reclamos y Solicitudes de sus clientes;
                                    y gestione su tratamiento así como la respuesta a sus clientes
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <i class="ni ni-collection h3 text-info"></i>
                                <h5>Indicadores de Gestión</h5>
                                <p>Establezca los indicadores de gestión de su organización y registre periodicamente
                                    los datos; y realice seguimiento a su comportamiento
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-5 ms-auto mt-lg-0 mt-4">
                    <div class="card shadow">
                        <div class="card-header p-0 position-relative z-index-1">
                            <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/project15.jpg') }}"
                                 alt="img-blur-shadow"
                                 class="img-fluid border-radius-lg border-radius-bottom-start-0 border-radius-bottom-end-0">
                        </div>
                        <div class="card-body">
                            <a href="">
                                <h5 class="mt-3">
                                    Interface amigable e intuitiva!!!
                                </h5>
                            </a>
                            <p>
                                Gestiona el sistema de calidad de tu empresa de manera fácil y rápidas.
                                Consultas y funcionalidades a un click que se integran a las operaciones diarias de calidad y manufactura.
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Section with four info areas left & one card right with image and waves -->

    <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
    <section class="py-sm-4 py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" style="margin-bottom: 30px">
                    <h3 class="mb-0 mt-2">Características Generales</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="ni ni-chart-bar-32  opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">It becomes harder for us to give others a hand. <br> We get our heart broken
                                by people we love.</p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="ni ni-cloud-upload-96 opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">As we live, our hearts turn colder. <br>Cause pain is what we go through as
                                we become older.</p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="ni ni-note-03 opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">When we lose family over time. <br> What else could rust the heart more over
                                time? Blackgold.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="ni ni-chart-bar-32  opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">It becomes harder for us to give others a hand. <br> We get our heart broken
                                by people we love.</p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="ni ni-cloud-upload-96 opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">As we live, our hearts turn colder. <br>Cause pain is what we go through as
                                we become older.</p>
                        </div>
                    </div>
                    <div class="p-3 info-horizontal">
                        <div class="icon icon-shape rounded-circle bg-gradient-primary text-center">
                            <i class="ni ni-note-03 opacity-10"></i>
                        </div>
                        <div class="description ps-3">
                            <p class="mb-0">When we lose family over time. <br> What else could rust the heart more over
                                time? Blackgold.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->

    <!-- -------- START Features w/ title and 3 infos -------- -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto text-center pb-4">
                    <h2>Oferta de Servicio</h2>
                    <p class="lead">We’re constantly trying to express ourselves and actualize our dreams. If you have
                        the opportunity to play </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-4 col-md-6">
                    <div class="p-3 text-center">
                        <div class="icon icon-shape bg-warning text-center">
                            <i class="ni ni-single-02 opacity-10"></i>
                        </div>
                        <h5 class="mt-4">Check our team</h5>
                        <p class="mb-0">We get insulted by others, lose trust for those others. We get back here to
                            follow my dreams</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="p-3 text-center">
                        <div class="icon icon-shape bg-warning text-center">
                            <i class="ni ni-email-83 opacity-10"></i>
                        </div>
                        <h5 class="mt-4">Support 24/7</h5>
                        <p class="mb-0">We get insulted by others, lose trust for those others. We get back here to
                            follow my dreams</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-md-auto">
                    <div class="p-3 text-center">
                        <div class="icon icon-shape bg-warning text-center">
                            <i class="ni ni-atom opacity-10"></i>
                        </div>
                        <h5 class="mt-4">Unlimited revisions</h5>
                        <p class="mb-0">We get insulted by others, lose trust for those others. We get back here to
                            follow my dreams</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- -------- END Features w/ title and 3 infos -------- -->

{% endblock %}