<header>
    <div class="page-header min-vh-50"
         style="background-image: url({{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/bg45.jpg') }})">
        <span class="mask bg-dark opacity-8"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-white text-center">
                    <h2 class="text-white">BPMPRO SISTEMA DE CALIDAD</h2>
                    <p class="lead">Software para Gestión Documental y Calidad</p>
                </div>
            </div>
        </div>
    </div>
</header>