{% extends 'body.html' %}

{% block content %}

    {% include 'header.html' %}

    <section class="pt-5 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card card-blog card-plain">
                        <div class="position-relative">
                            <a class="d-block">
                                <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/logo-bpmpro.jpg') }}"
                                     alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                            </a>
                        </div>
                        <div class="card-body px-1 pt-3">
                            <p class="text-gradient text-dark mb-2 text-sm">Servicios de Software</p>
                            <a href="{{ url_for('bpmpro') }}" target="_blank">
                                <h5>
                                    BPMPRO Software
                                </h5>
                            </a>
                            <p>
                                Implemente electrónicamente sistemas de gestión de calidad como ISO9001, BPM (Buenas
                                Prácticas de Manufactura) y elimine el uso del papel en su organización.
                            </p>
                            <a href="{{ url_for('bpmpro') }}" target="_blank" class="btn btn-outline-primary btn-sm">Ver
                                más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-blog card-plain">
                        <div class="position-relative">
                            <a class="d-block">
                                <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/calentador_liquidos.jpg') }}"
                                     alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                            </a>
                        </div>
                        <div class="card-body px-1 pt-3">
                            <p class="text-gradient text-dark mb-2 text-sm">Sistemas de Calentamiento</p>
                            <a href="{{ url_for('warm') }}">
                                <h5>
                                    Calentadores de Líquidos
                                </h5>
                            </a>
                            <p>
                                Los calentadores de líquidos mantienen la temperatura de los pacientes de manera segura,
                                precisa y uniforme, cumple con Resolución 3100 de 2019.
                            </p>
                            <a href="{{ url_for('warm') }}" type="button" class="btn btn-outline-primary btn-sm">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card card-blog card-plain">
                        <div class="position-relative">
                            <a class="d-block">
                                <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/telemetria.jpg') }}"
                                     alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                            </a>
                        </div>
                        <div class="card-body px-1 pt-3">
                            <p class="text-gradient text-dark mb-2 text-sm">Servicio de Monitoreo Temp. y %HR</p>
                            <a href="{{ url_for('telemetry') }}">
                                <h5>
                                    Sistema de Telemetría
                                </h5>
                            </a>
                            <p>
                                Servicio de monitoria de temperatura y humedad. Puede generar alertas y notificaciones
                                vía
                                SMS, llamada telefónica y mail; en caso de datos fuera de límites.
                            </p>
                            <a href="{{ url_for('telemetry') }}" type="button" class="btn btn-outline-primary btn-sm">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- START Testimonials w/ 3 cards & dark background -->

    <!-- END Testimonials w/ 3 cards & dark background -->

    <section class="py-7 bg-white position-relative">
        <div class="page-header min-vh-50"
             style="background-image: url({{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/bg7.jpg') }});">
            <span class="mask bg-gradient-dark opacity-4"></span>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center mx-auto">
                        <h1 class="text-white mt-4 mb-1">¿Tienes una pregunta?</h1>
                        <p class="lead text-white mb-6">Nos gustaría hablar más sobre lo que necesitas</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-n7 bg-white border-radius-lg shadow z-index-3 position-relative">
                <div class="col-lg-3 col-md-6 col-6 position-relative my-auto">
                    <div class="p-3 text-center">
                        <a href="#" type="button" class="btn btn-icon-only btn-youtube">
                            <span class="btn-inner--icon"><i class="fa fa-map"></i></span>
                        </a>
                        <h5 class="mt-3 mb-1">Dirección</h5>
                        <p class="mb-0">Calle 4 # 75 - 71, Cali - Valle</p>
                        <hr class="vertical dark">
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6 position-relative my-auto">
                    <div class="p-3 text-center">
                        <a href="#" type="button" class="btn btn-icon-only btn-youtube">
                            <span class="btn-inner--icon"><i class="fa fa-envelope"></i></span>
                        </a>
                        <h5 class="mt-3 mb-1">Email</h5>
                        <p class="mb-0">ventas@cieltechno.com</p>
                    </div>
                    <hr class="vertical dark">
                </div>
                <div class="col-lg-3 col-md-6 col-6 position-relative my-auto">
                    <div class="p-3 text-center">
                        <a href="#" type="button" class="btn btn-icon-only btn-youtube">
                            <span class="btn-inner--icon"><i class="fas fa-phone"></i></span>
                        </a>
                        <h5 class="mt-3 mb-1">Telefónos</h5>
                        <p class="mb-0">(602) 3800797 - 316 6231887</p>
                    </div>
                    <hr class="vertical dark">
                </div>
                <div class="col-lg-3 col-md-6 col-6 position-relative my-auto">
                    <div class="p-3 text-center">
                        <a href="https://wa.me/573166231887" target="_blank" type="button" class="btn btn-icon-only btn-youtube">
                            <span class="btn-inner--icon"><i class="fa fa-whatsapp"></i></span>
                        </a>
                        <h5 class="mt-3 mb-1">WhatsApp</h5>
                        <p class="mb-0">(+57) 3166231887</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- -------- START CONTENT 10 w/ card over right bg image ------- -->
    <div class="page-header min-vh-100">
        <div class="position-absolute fixed-top ms-auto w-50 h-100 rounded-3 z-index-0 d-none d-sm-none d-md-block me-n4"
             style="background-image: url({{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/bpm_4.jpg') }}); background-size: cover;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 d-flex justify-content-center flex-column">
                    <div class="card card-body d-flex justify-content-center shadow-lg p-sm-5 align-items-center">
                        <h3 class="text-center">Contáctenos</h3>
                        <form id="contact-form" method="POST" autocomplete="off">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre Completo</label>
                                    <div class="input-group mb-2">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6 ps-2">
                                    <label>Empresa</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Cargo</label>
                                    <div class="input-group mb-2">
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6 ps-2">
                                    <label>Telefono</label>
                                    <div class="input-group">
                                        <input class="form-control" type="number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group mb-2">
                                        <input name="email" class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6 ps-2">
                                    <div class="form-group">
                                            <label for="">Producto/Servicio de Interes</label>
                                            <div class="input-group mb-2">
                                                <select class="form-control" name="product" type="text">
                                                    <option></option>
                                                    <option>Calentador de Líquidos</option>
                                                    <option>Sistema de Telemetría</option>
                                                    <option>Software de Gestión de Calidad</option>
                                                </select>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="message">Mensaje</label>
                                <textarea name="message" class="form-control border-radius-lg" id="message" rows="3">
                                </textarea>
                            </div>
                            <div class="row">
                                {{ recaptcha }}
                                <div class="col-md-6 text-end my-auto ms-auto">
                                    <button type="submit" class="btn bg-info w-100">
                                        <span style="color: white">Enviar Mensaje</span>
                                    </button>
                                </div>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }}" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

