<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="{{ url_for('home') }}" rel="tooltip"
           title="CielTechno SAS" data-placement="bottom">
            <div class="position-relative">
                <a>
                    <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/logo_cieltechno.png') }}"
                         alt="cieltechno" width="300">
                </a>
            </div>
        </a>
        <a href="{{ url_for('contact') }}" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Contacto</a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover mx-auto">
                <li class="nav-item dropdown dropdown-hover mx-1">
                    <a href="{{ url_for('home') }}"
                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       role="button">
                        Inicio
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a href="{{ url_for('about') }}"
                       class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       role="button">
                        Quienes Somos
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-3">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                        Productos
                        <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/down-arrow-dark.svg') }}"
                             alt="down-arrow" class="arrow ms-1">
                    </a>
                    <div class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3"
                         aria-labelledby="dropdownMenuBlocks">
                        <div class="d-none d-lg-block">
                            <ul class="list-group">
                                <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                    <a class="dropdown-item py-2 ps-3 border-radius-md"
                                       href="{{ url_for('warm') }}">
                                        <div class="d-flex">
                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                <i class="ni ni-single-copy-04 text-gradient text-primary"></i>
                                            </div>
                                            <div class="w-100 d-flex align-items-center justify-content-between">
                                                <div>
                                                    <h6 class="dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center p-0">
                                                        Calentadores de Líquidos</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                    <a class="dropdown-item py-2 ps-3 border-radius-md"
                                       href="{{ url_for('tubes') }}">
                                        <div class="d-flex">
                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                <i class="ni ni-laptop text-gradient text-primary"></i>
                                            </div>
                                            <div class="w-100 d-flex align-items-center justify-content-between">
                                                <div>
                                                    <h6 class="dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center p-0">
                                                        Tubos Colorimetricos</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-4">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                       id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                        Servicios
                        <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/down-arrow-dark.svg') }}"
                             alt="down-arrow" class="arrow ms-1">
                    </a>
                    <div class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3"
                         aria-labelledby="dropdownMenuBlocks">
                        <div class="d-none d-lg-block">
                            <ul class="list-group">
                                <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                    <a class="dropdown-item py-2 ps-3 border-radius-md"
                                       href="{{ url_for('telemetry') }}">
                                        <div class="d-flex">
                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                <i class="ni ni-badge text-gradient text-primary"></i>
                                            </div>
                                            <div class="w-100 d-flex align-items-center justify-content-between">
                                                <div>
                                                    <h6 class="dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center p-0">
                                                        Sistema de Telemetría</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item dropdown dropdown-hover dropdown-subitem list-group-item border-0 p-0">
                                    <a class="dropdown-item py-2 ps-3 border-radius-md"
                                       href="{{ url_for('bpmpro') }}">
                                        <div class="d-flex">
                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                <i class="ni ni-notification-70 text-gradient text-primary"></i>
                                            </div>
                                            <div class="w-100 d-flex align-items-center justify-content-between">
                                                <div>
                                                    <h6 class="dropdown-header text-dark font-weight-bold d-flex justify-content-cente align-items-center p-0">
                                                        Software de Gestión de Calidad - BPMPRO</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                    <a href="{{ url_for('contact') }}"
                       class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1">Contáctanos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>