{% extends 'body.html' %}


{% block content %}

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="position-relative col-3" style="padding: 20px 15px 15px 0">
                    <a>
                        <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/logo-enthermics.png') }}"
                             alt="enthermics" width="300">
                    </a>
                </div>
                <div class="col-9 mx-auto text-lg-start mb-5">
                    <h2>Calentadores de Líquidos Intravenosos Enthermics</h2>
                    <p>
                        Los calentadores de líquidos mantienen la temperatura de los pacientes de manera segura,
                        precisa y uniforme, cumple con Resolución 3100 de 2019.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 justify-content-center d-flex flex-column">
                            <div class="card rounded-3">
                                <div class="d-block blur-shadow-image">
                                    <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/enthermics1.jpg') }}"
                                         alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
                            <h6 class="category text-info mt-3">EC250L, EC350L, EC400L y EC770L</h6>
                            <h3>
                                <a href="#" class="text-dark text-decoration-underline-hover">Gabinetes Calentadores
                                    de Líquidos Intravenosos serie Titan</a>
                            </h3>
                            <p style="text-align: justify">
                                <b>Los calentadores de líquidos Enthermics mantienen las temperaturas correctas para los
                                    fluidos correctos</b>. Caliente de forma segura y precisa los líquidos para
                                irrigación, líquidos
                                para inyección y medios de contraste; a las temperaturas recomendadas para evitar
                                hipotermia
                                durante cirugía y otros procedimientos. Su control digital garantiza un bajo consumo
                                de energía y una mínima pérdida de calor mientras mantiene una temperatura precisa.
                            </p>
                            <div class="col-md-4">
                                <a type="button" target="_blank"
                                        href="{{ url_for('static', filename='documents/ficha_technica_calentadores_ec_y_dc.pdf') }}"
                                        class="btn bg-gradient-info"><i class="fa fa-download"></i>
                                    Ficha Técnica
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-5">
                    <div class="row flex-row-reverse">
                        <div class="col-lg-6 justify-content-center d-flex flex-column">
                            <div class="card rounded-3">
                                <div class="blur-shadow-image">
                                    <img src="{{ url_for('static', filename='lib/now-ui-design-system-pro-v2.2.0/assets/img/enthermics2.jpg') }}"
                                         alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
                            <h6 class="category text-info mt-3">ivNow-1, ivNow-2 y ivNow-3</h6>
                            <h3>
                                <a href="#" class="text-dark text-decoration-underline-hover">
                                    Calentadores de Líquidos Intravenosos serie ivNow</a>
                            </h3>
                            <p style="text-align: justify">
                                Mejore los procesos y el tiempo de recuperación calentando eficientemente a los
                                pacientes desde el ingreso hasta el alta, reduciendo las infecciones del sitio
                                operatorio (ISO). Los calentadores de líquidos ivNow®, son cómodos y fáciles de usar,
                                calientan rápidamente y mantienen a temperaturas seguras los líquidos intravenosos y de
                                irrigación, a la vez que ahorran espacio y tiempo al personal. Caliente los líquidos
                                en el punto de uso, donde los necesite y/o cuando los necesite.
                            </p>
                            <div class="col-md-4">
                                <a type="button" target="_blank"
                                        href="{{ url_for('static', filename='documents/ficha_technica_ivnow.pdf') }}"
                                        class="btn bg-gradient-info"><i class="fa fa-download"></i>
                                    Ficha Técnica
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 mt-5">
                    <iframe class="card rounded-3" width="600" height="330"
                            src="https://www.youtube.com/embed/NJ8tk-A7ukw"
                            title="calentador de líquidos"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
                <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
                    <h3>
                        <a href="#" class="text-dark text-decoration-underline-hover">
                            Mejora los Resultados Clínicos
                        </a>
                    </h3>
                    <p style="text-align: justify">
                        El calentamiento del paciente puede conducir a mejores resultados clínicos.
                        Los estudios muestran que la hipotermia perioperatoria durante la cirugía puede
                        provocar complicaciones, como estadías hospitalarias prolongadas, infecciones del
                        sitio quirúrgico (ISO), morbilidad y mortalidad. La prevención de estas complicaciones
                        graves se puede encontrar manteniendo la normotermia precalentando a los pacientes
                        antes de la cirugía y continuando durante el procedimiento quirúrgico.
                    </p>
                    <div class="col-md-5">
                        <a href="{{ url_for('contact') }}"
                           class="btn btn-sm  bg-info  btn-round mb-0 me-1">
                            <span style="color: white">Solicitar Cotización</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
